.env
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/fullstack-webcommunity-tracker-api/v17/.suo
/.vs/fullstack-webcommunity-tracker-api/v17
/.vs/fullstack-webcommunity-tracker-api/FileContentIndex/read.lock
/.vs/fullstack-webcommunity-tracker-api/FileContentIndex/d4b7fd4d-8e3f-415a-bce0-3ca6dd638661.vsidx
/.vs/fullstack-webcommunity-tracker-api/FileContentIndex/2156f03c-6034-4da0-8958-eab8ab0ccad2.vsidx
/.vs/fullstack-webcommunity-tracker-api/FileContentIndex/21522a26-2699-44a7-a10a-b6f2612f8d71.vsidx
/.vs/fullstack-webcommunity-tracker-api/FileContentIndex/1c912d56-11dc-4907-af85-79bf4e1d1000.vsidx
/.vs/fullstack-webcommunity-tracker-api/FileContentIndex
/.vs/fullstack-webcommunity-tracker-api
/.vs
